.navbar__nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 1.5rem;
  gap: 0.5rem;
  z-index: 10;
}

@media (min-width: 680px) {
  .navbar__nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
}